<?xml version="1.0"?>
<WebSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultPageText1>Default Page Text1</DefaultPageText1>
  <DefaultPageText2>Default Page Text2</DefaultPageText2>
  <HeaderText>KTS Infotech</HeaderText>
  <FooterText>Pala</FooterText>
</WebSettings>